@import url('https://fonts.googleapis.com/css?family=Jura&family=Almarai:wght@300..800');

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  font-family: 'Almarai', sans-serif;
}

h1 {
  font-family: 'Jura', sans-serif;
  text-transform: lowercase;
  font-size: 3rem;
}

h2 {
  font-family: 'Jura', sans-serif;
  text-transform: lowercase;
  font-size: 1.75rem;
}

h3 {
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  color: black;
}

h4 {
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  color: #858585;
}

p {
  font-family: 'Almarai', sans-serif;
  font-size: 1.25rem;
}

.acc-nav {
  display: flex;
  gap: 16px;
  margin: auto;
  width: fit-content;
}

audio {
  width: 100%;
  height: 15px;
  display: block;
}

.audio h3, .audio h4 {
  margin: 0;
}

.audio-detail {
  max-width: 531px;
  margin: auto;
  padding: 25px;
  border: 2px solid #D7D7D7;
  border-radius: 5px;
}

.audio-detail .audio-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.audio-detail audio {
  margin-bottom: 40px;
}

.audio-main {
  width: 81%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audio {
  text-align: left;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.audio-wrap {
  border: 2px solid #D7D7D7;
  max-width: 531px;
  margin: auto;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  min-height: 104px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

.audio-img {
  width: 81px;
  height: 81px;
  border-radius: 5px;
}

.audio-list {
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.audio-title {
  display: flex;
  justify-content: space-between;
}

.App-main {
  margin-bottom: 90px;
  min-height: 100vh;
  padding: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.btn {
  display: block;
  margin: auto;
  font-size: 1rem;
  background-color: #D9D9D9;
  padding: 13px;
  border: none !important;
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  background-color: rgb(255, 235, 122);
}

.btn-invis {
  border: none;
  background: none;
  cursor: pointer;
}

.form {
  border: 2px solid #D7D7D7;
  border-radius: 5px;
  max-width: 531px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 26px;
}

.audio-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.audio-form input {
  width: 100%;
  border: 2px solid #EAEAEA;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Almarai', sans-serif;
  font-size: 1rem;
}

.audio-form .btn {
  max-width: 85px;
  margin: 0;
}

.manage-controls {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.delete {
  margin: 0;
  background-color: #F06C6C;
}

.delete:hover {
  background-color: #ff3535;
}

.form .btn {
  margin: auto;
}

.form input {
  border: 2px solid #EAEAEA;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Almarai', sans-serif;
  font-size: 1rem;
}

input::file-selector-button {
  background-color: #D9D9D9;
  padding: 13px;
  border: none !important;
  border-radius: 5px;
  color: black;
  transition: all 0.3s ease;
  margin-right: 15px;
}

footer {
  border-top: 2px solid #D0D0D0;
  padding: 14px;
}

footer * {
  font-size: 1rem;
  margin: 0;
}

footer a {
  color: black;
  text-decoration: underline;
}